@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');
html, body { height: 100%; }

body { margin:0px; }

.felsocsik {
  background-image: url("https://strawberrytours.com/images/RioDeJaneiro/Tours/FreeHistoricalCenterTourOfRio/rio-de-janeiro-cover-v3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 { 
  font-family: 'Work Sans', sans-serif; 
  margin: 0px;
  font-size: 60px;
  position:relative;
  left:3em;
  top:3em;
  color:white;
}
